<mat-card>
  <form [formGroup]="postForm">
    <mat-form-field>
      <input formControlName="title" matInput type="text" />
      <!-- [(ngModel)]="enteredTitle" -->
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <textarea formControlName="content" matInput rows="4"></textarea>
      <!-- [(ngModel)]="enteredContent" -->
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="onAddPost()">
      Save Post
    </button>
  </form>
</mat-card>
