<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        #title="ngModel"
        required
        matInput
        type="text"
        ngModel
        placeholder="Post title"
        name="title"
      />
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <textarea
        #content="ngModel"
        required
        matInput
        rows="2"
        ngModel
        placeholder="Post content"
        name="content"
      ></textarea>
      <mat-error *ngIf="title.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Save Post</button>
  </form>
</mat-card>

<!-- local referrence is for using the error instead of just trying to reach the actual value inside the object  -->
